.brief {
  padding: 130px 0 100px;
  width: 100%;

  .container {
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    font-family: "Bebas Neue Cyrillic";
    font-size: 96px;
    line-height: 110%;
    text-transform: uppercase;
    margin: 0 0 60px 0;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .brief-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 33px;
    width: 100%;

    article {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid;
      border-image-source: linear-gradient(90deg, #ffffff 0%, #999999 100%);
      border-image-slice: 1;

      flex: 1 1 300px;
      max-width: 380px;
      gap: 15px;

      span {
        font-family: "Bebas Neue Cyrillic";
        font-size: 32px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
        white-space: nowrap;
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 16px;
        border-radius: 50px;
        background: #cecece;
        text-decoration: none;
        font-family: "HelveticaNeueCyr";
        font-size: 16px;
        color: #000;
        flex-shrink: 0;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .brief .brief-grid article:nth-child(n + 4) {
    transform: translateX(-150px);
  }
}

@media (max-width: 600px) {
  .brief {
    h2 {
      font-size: 48px;
    }
    .brief-grid article span {
      font-size: 24px;
      white-space: normal;
    }
  }
}
